// Portfolio Modal 2
#portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal2', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8

                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.mb-0 The eveGEnts Project

                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-code
                                .divider-custom-line

                            // Portfolio Modal - Image Carousel
                            #portfolioModalCarouse2.carousel.slide(data-bs-ride='carousel').mb-3
                                
                                // Indicators/dots
                                .carousel-indicators
                                    button(type='button', data-bs-target='#portfolioModalCarouse2', data-bs-slide-to='0', class='active', aria-current='true', aria-label='Slide 1')
                                    button(type='button', data-bs-target='#portfolioModalCarouse2', data-bs-slide-to='1', aria-label='Slide 2')
                                    //button(type='button', data-bs-target='#portfolioModalCarouse2', data-bs-slide-to='2', aria-label='Slide 3')
                                    //button(type='button', data-bs-target='#portfolioModalCarouse2', data-bs-slide-to='3', aria-label='Slide 4')
                                    //button(type='button', data-bs-target='#portfolioModalCarouse2', data-bs-slide-to='4', aria-label='Slide 5')

                                // The slideshow/carousel
                                .carousel-inner
                                    .carousel-item.active
                                        img.d-block.w-100.img-fluid.rounded.mb-5(src='assets/img/screenshots/eveGEnts-1.png', alt='Official Website')
                                        .carousel-caption.caption
                                            h5.fw-bold Official Website
                                    .carousel-item
                                        img.d-block.w-100.img-fluid.rounded.mb-5(src='assets/img/screenshots/eveGEnts-2.png', alt='Home Page')
                                        .carousel-caption.caption
                                            h5.fw-bold Home Page
                                    //.carousel-item
                                    //    img.d-block.w-100.img-fluid.rounded.mb-5(src='assets/img/screenshots/eTWIG-3.png', alt='Event Details')
                                    //    .carousel-caption.caption
                                    //        h5.fw-bold Event Details
                                    //.carousel-item
                                    //    img.d-block.w-100.img-fluid.rounded.mb-5(src='assets/img/screenshots/eTWIG-4.png', alt='Banner Request')
                                    //    .carousel-caption.caption
                                    //        h5.fw-bold Banner Request
                                    //.carousel-item
                                    //    img.d-block.w-100.img-fluid.rounded.mb-5(src='assets/img/screenshots/eTWIG-5.png', alt='Banner Request Approval')
                                    //    .carousel-caption.caption
                                    //        h5.fw-bold Banner Request Approval

                                // Left and right controls/icons
                                button.carousel-control-prev(type='button', data-bs-target='#portfolioModalCarouse2', data-bs-slide='prev')
                                    span.carousel-control-prev-icon(aria-hidden='true').caption
                                    span.visually-hidden Previous
                                button.carousel-control-next(type='button', data-bs-target='#portfolioModalCarouse2', data-bs-slide='next')
                                    span.carousel-control-next-icon(aria-hidden='true').caption
                                    span.visually-hidden Next

                            // Portfolio Modal - Text
                            .text-start
                                p.mb-0.fw-bold 
                                    | Description
                                p.mb-2
                                    | eveGEnts is an all-in one event management platform for universities and student clubs, 
                                    | which is my second and ongoing event management software.
                                    | It is rewritten in the modern teck stack, including Spring RESTful APIs and ReactJS.
                                p.mb-0.fw-bold 
                                    | Features  
                                p.mb-0
                                | Apart from the existing features in my last event management platform (e.g., event calendar), 
                                | eveGents will include the following amazing features:
                                ul.mb-2
                                    li
                                        | A graphics designer for event banners. 
                                    li
                                        | A workflow system for relevant approvals.
                                    li
                                        | A registeraion and ticketing system.
                                    li
                                        | Integrates with the university's Single Sign-On system.
                                    li
                                        | Supports both cloud-hosting and self-hosting.

                                p 
                                | It is also a free software licensed under the MIT License.

                                p.mb-0.fw-bold 
                                    | Tech Stack
                                p.mb-4 
                                    img.mr-1(src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg" height="40" alt="HTML5")
                                    img.mr-1(src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg" height="40" alt="CSS3")
                                    img.mr-1(src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" height="40" alt="Javascript")
                                    img.mr-1(src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg" height="40" alt="Java")
                                    img.mr-1(src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg" height="40" alt="Bootstrap")
                                    img.mr-1(src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/jquery/jquery-original.svg" height="40" alt="jQuery")
                                    img.mr-1(src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/spring/spring-original.svg" height="40" alt="Spring")
                                    img.mr-1(src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/hibernate/hibernate-original.svg" height="40" alt="Spring")
                                    img(src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original.svg" height="40" alt="PostgreSQL")
                            
                            // Links
                            div.btn-group
                                a.btn.btn-outline-primary(href='https://github.com/stewebb/eTWIG', target='_blank')
                                    i.fab.fa-github
                                    | &nbsp;GitHub Repo
                                a.btn.btn-outline-secondary(href='https://webapp.etwig.net/events/calendar.do', target='_blank')
                                    i.fas.fa-external-link-alt
                                    | &nbsp;Demo Site
